<h1>Burgers!!</h1>

<h2>Check out our Burgers!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{else}}
  <form class="eat-burger" action="/devour">
    <div class="form-group">
      <label for="input_burger">{{burger_name}}</label>
      <input type="submit" id="devoured" name="devoured_id" value={{id}}>
    </div>
  </form>
  {{/if}}
  {{/each}}
</ul>

<h2>That was Tasty!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{burger_name}};({{id}})<br>
  {{/if}}
  {{/each}}
</ul>

<h2>Neeeeext Burger!!!</h2>
<form class="create-form" action="/add">

  <div class="form-group">
    <label for="burger_input">Burger Name:</label>
    <input type="text" id="burger_name" name="burger_input">
  </div>

   <button type="submit" id="test">Devour A Burger</button>
  <script>
    $('#test').on('click', function (event) {
      event.preventDefault();
      console.log('test')
    });

    $('.test').on('click', function (event) {
      console.log($(this).attr('data-name'))
      event.preventDefault();
      $.get('api/messages', function (data) {
        console.log(data)
      })
    });
  </script>
</form>